<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
      <ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="middle">
          <ion-nav-back-button class="no-text">
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
              <button class="button button-icon button-clear icon ion-ios-chatbubble-outline"><span class="badge" style="top: -33px;right: auto;left:1px;font-weight:400"></span>
              </button>
          </ion-nav-buttons>
          <ion-nav-title>
            FAM
          </ion-nav-title>
      </ion-nav-bar>
      <ion-nav-view name="content-index"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>
