@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/BadScript.woff2) format('woff2');
}

.login{
  background-color: #1e88e5;
  font-weight: 300;
  color: #FFFFFF;
}

i.ion-record {
  color:white;
}

#login-title{
  width:100%;
  padding-top: 70px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Bad Script', Roboto, GillSans, Calibri, Trebuchet, sans-serif !important;
  font-size: 70px;
  font-weight: 100 !important;
}

.slider{
  height: 50%;
  text-align: center;
  width:100%;
  padding-top: 30px;
  font-size: 1.2em;
}

h5{
  color: #FFFFFF;
}

#linkedin{
  position: absolute;
  width: 50%;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);;
  -webkit-transform: translate(-50%, 50%);;
  -moz-transform: translate(-50%, 50%); !important;
}

.nav-bar-title{
  font-weight: 300 !important;
}
.title{
  font-weight: 300 !important;
}

.scroll {
  height: 100%;
}


.margin{
  margin-left: 20px;
  margin-right: 20px;
}

.centering{
  top: 40%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transform: translateY(-50%)  !important;
}

.centering-x{
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transform: translateX(-50%)  !important;
}


.show-tab {
  transform: translateY(-100%) !important;
  -ms-transform: translateY(-100%) !important;
  -webkit-transform: translateY(-100%) !important;
  -moz-transform: translateY(-100%)  !important;
  display: block !important;
}

.show-tab.ng-hide-add {
  opacity: 1;
  transform: translateY(-100%) !important;
  -ms-transform: translateY(-100%) !important;
  -webkit-transform: translateY(-100%) !important;
  -moz-transform: translateY(-100%)  !important;
  display: block !important;
  transition: all 1s;
}

.show-tab.ng-hide-add-active {
  opacity: 0;
  transform: translateY(0%) !important;
  -ms-transform: translateY(0%) !important;
  -webkit-transform: translateY(0%) !important;
  -moz-transform: translateY(0%)  !important;
  display: block !important;
  transition: all 1s;
}

.show-tab.ng-hide-remove {
  opacity: 0;
  transform: translateY(0%) !important;
  -ms-transform: translateY(0%) !important;
  -webkit-transform: translateY(0%) !important;
  -moz-transform: translateY(0%)  !important;
  display: block !important;
  transition: all 1s;
}

.show-tab.ng-hide-remove-active {
  opacity: 1;
  transform: translateY(-100%) !important;
  -ms-transform: translateY(-100%) !important;
  -webkit-transform: translateY(-100%) !important;
  -moz-transform: translateY(-100%)  !important;
  display: block !important;
  transition: all 1s;
}

.person-card{
  min-height: 400px;
  transition: all 0.5s ease;
  transform: translate(0%, -45%) !important;
  -ms-transform: translate(0%, -45%) !important;
  -webkit-transform: translate(0%, -45%) !important;
  -moz-transform: translate(0%, -45%) !important;
}

.person-card.ng-hide-add-active {
  opacity: 0;
  transform: translate(-100%, -45%) !important;
  -ms-transform: translate(-100%, -45%) !important;
  -webkit-transform: translate(-100%, -45%) !important;
  -moz-transform: translate(-100%, -45%) !important;
  display: block !important;
  transition: all 0.5s;
}

.person-card.ng-hide-remove {
  opacity: 1;
  transform: translate(110%, -45%) !important;
  -ms-transform: translate(110%, -45%) !important;
  -webkit-transform: translate(110%, -45%) !important;
  -moz-transform: translate(110%, -45%) !important;
  transition: all 0.1s;
}


.person-card.ng-hide-remove-active {
  opacity: 1;
  transform: translate(110%, -45%) !important;
  -ms-transform: translate(110%, -45%) !important;
  -webkit-transform: translate(110%, -45%) !important;
  -moz-transform: translate(110%, -45%) !important;
  transition: all 0.1s;
}


.card-icon{
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.like-button{
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  right: 60px;
}

.sub-menu{
  position: absolute;
  bottom: 5px;
  top: auto;
  transition: all 2s;
}

.sub-menu.extend{
  height: 100%;
}

.sub-menu.extend-add-active{
  height: 100%;
}

.fadein {
  opacity: 1;
  height: 100%;
  transition: all 0.5s;
}

.fadein.ng-hide-add-active {
  opacity: 1;
}

.fadein.ng-hide-remove-active {
  opacity: 1;
}
