.login{
	background-color: #1e88e5;
	font-weight: 300;
	/*/*font-family: "Georgia", "Serif";*/
	color: #FFFFFF;
}

.title{
	text-align: center;
	width:100%;
	padding-top: 70px;
	color: #FFFFFF;
}

.slider{
	height: 50%;
	text-align: center;
	width:100%;
	padding-top: 30px;
}

h5{
	color: #FFFFFF;
}

#linkedin{
	margin-top: 600px;
	font-size: 50em;
	/*width: 100%;*/
	padding: 0px;
}